@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container-fluid{
    max-width: 1480px;
}
a{
    text-decoration: none;
}
.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    background-color: #e73c3e;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 5px;
    opacity: 1;
    font-weight: 600;
    font-size: 18px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .default-btn span {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #111111;
    color: #ffffff;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
    opacity: 1;
  }
  .default-btn:hover {
    color: #ffffff !important;
  }
  .default-btn:hover span {
    width: 225%;
    height: 562.5px;
  }
  .default-btn i {
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 10px;
  }

/* Header-Menu */
.our-menu .nav-link{
    color: #111;
    font-weight: 500;
}
.header-info{
    padding-left: 30px;
}
.header-search{
    padding-right: 10px;
    text-align: center;
    font-size: 22px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-info span{
    color: #606060;
}
.header-call-info  a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
}
.header-call-icon{
    font-size: 30px;
    color: #e73a3e;
}
.header-btn{
    align-items: flex-end;
}
/* Menu Start */
.nav-item{
    padding: 0px 10px;
}
.nav-item i{
    font-size: 12px;
}
ul.our-menu li{
    position: relative;
}
ul.our-menu li ul{
    position: absolute;
    width: 300px;
    top: 140%;
    left: 0;
    background: #fafafa;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
ul.our-menu li ul li{
    flex-direction: column;
}
ul.our-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}
ul.our-menu li ul li a:hover{
    color: #e73a3e;
}

/* Banner */
.slider-section{
    background: url(assets/banner.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-content h6{
    color: #e73a3e;

}
.slider-content h1{
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 500;
    color: #606060;
    font-size: 20px;
}
.header-social{
    position: absolute;
    left: 40px;
    bottom: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li span{
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header-social ul li span::after{
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 60%;
}
.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 14px;
    color: #111;
    font-size: 20px;
    transition: .5s;
}
.header-social ul li a:hover i{
    color: red;
}

/* Sloomotion */
.logo-section{
    padding-bottom: 1px solid #ddd;
}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}

/* About */
.about-image{
    position: relative;
}
.about-img-text{
    position: absolute;
    right: 30px;
    bottom: 0;
    background: url(https://i.ibb.co/jMD2qxY/shape.png);
    height: 200px;
    width: 200px;
    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-innter h2{
    color: #e63b3d;
    font-size: 60px;
    font-weight: bold;
}
.about-text-innter p{
    font-weight: 600;
}
.finix-text h6{
    color: #e63b3d;
    font-weight: 400;
}
.finix-text h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.finix-text p{
    color: #606060;
    font-size: 18px;
}
.finix-text strong{
    color: #606060;
    font-size: 20px;
    font-weight: 400;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font: var(--fa-font-solid);
    font-weight: 800;
    color: #e63b3d;
    display: inline-block;
    margin-right: 10px;
}

/* Why people choose us */
.finix-text{
    position: relative;
}
.play-animation-btn{
    width: 90px;
    height: 90px;
    display: inline-block;
    background: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    color: #e73a3e;
    border-radius: 50%;
    position: absolute;
    right: 36%;
    bottom: 51px;
}
.play-animation-btn::before{
    content: "";
    height: 90px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.features-item{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.features-item::before{
    content: "";
    position: absolute;
    top: -150px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;
}
.features-item .ft-icon i{
    color: #e73c3e;
    font-size: 50px;
    background: #fff;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    transition: .5s;
}
.features-item:hover .ft-icon i{
    color: #fff;
    background: #e63b3d;
}
.mtop4{
    margin-top: -30px;
}
.features-item:hover{
    transform: translateY(-12px);
}
.features-item .ft-icon{
    position: relative;
    z-index: 1;
}